@import "../../config";
@import "../../utilities";

li {
  font-size: 1.6rem;
  font-family: $text-font;
}
a {
  color: blue;
}
.checkbox,
.number-input {
  margin: 0;
  // float: right;
  border: 1px solid $description-text-color;
  background-color: $border-color;
}
.number-input {
  width: 4ch;
}
.simple-li-component {
  display: inline-block;
  vertical-align: middle;
}

.simple-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0rem;
}
.medium-li {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 1rem;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0rem;
  align-items: center;
  border-bottom: 2px solid $border-color;
}
.medium-li-name {
  display: flex;
  align-items: center;
}
.medium-li-num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
}
