$logo-font: "Cinzel Decorative", cursive;
$sub-font: "Playfair Display", serif;
$text-font: "Raleway", sans-serif;

//colors//
$header-bg: #150b33;
$sub-color: #460564;
$header-text: white;
$border-color: #d9d9d9;
$description-text-color: #8c8c8c;

$legendary: #4c139d;
$ascended: #fb3e8d;
$exotic: #ffa405;
$rare: #fcd00b;
$masterwork: #1a9306;
$fine: #62a4da;
li {
  font-size: 1.6rem;
  font-family: $text-font;
}
