$logo-font: "Cinzel Decorative", cursive;
$sub-font: "Playfair Display", serif;
$text-font: "Raleway", sans-serif;

//colors//
$header-bg: #150b33;
$sub-color: #460564;
$header-text: white;
$border-color: #d9d9d9;
$description-text-color: #8c8c8c;

li {
  font-size: 1.6rem;
  font-family: $text-font;
}
